 #root {
     --darkBlue: #012A4A;
     --oceanBlue: #01497C;
     --medBlue: #2A6F97;
     --lightBlue: #61A5C2;
     --llBlue: #A9D6E5;
     --ws: whitesmoke;


     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     line-height: 2;
     font-weight: 400;
     display: flex;
     flex-direction: column;
     

     --bs-nav-tabs-border-color: var(--lightBlue);
     --bs-nav-tabs-link-hover-border-color: var(--llBlue);
     --bs-nav-tabs-link-hover-color: var(--llBlue);
     --bs-nav-tabs-link-active-color: var(--ws);
     --bs-nav-tabs-link-active-border-color: var(--lightBlue);
     --bs-nav-tabs-link-active-bg: var(--lightBlue);
     color: var(--lightBlue);
     background-color: var(--darkBlue);
     min-height: 100vh;
 }

 ;


 body {
     background-color: var(--darkBlue);
     color: var(--lightBlue)
 }

 .nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
     color: var(--llBlue);
     background-color: var(--darkBlue);
     border-color: var(--ws);
 }

 ul {
     background-color: var(--llBlue);
 }

 .nav-item {
     background-color: var(--llBlue);
 }

 .active {
     background-color: var(--darkBlue);
 }

 .portfolioImage{
    width: 150px;
    height: 250px;
    padding-left: 0;
    margin: 0 10px;
}

 h1 {
     color: var(--lightBlue);
     padding: 20px;
 }

 h2 {
     color: var(--lightBlue);
     padding: 40px;
 }

 h4 {
     padding: 40px;
 }

 p {
     color: var(--lightBlue);
     padding: 5px;
 }

 a {
    text-decoration: none;
 }

input {
    max-width: 300px;
}
 
.jd-label {
    flex:  0 0 300px;
}