 #root {
    --darkBlue: #012A4A;
    --oceanBlue: #01497C;
    --medBlue: #2A6F97;
    --lightBlue: #61A5C2;
    --llBlue: #A9D6E5;
    --ws: whitesmoke; 


    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 2;
    font-weight: 400;

    --bs-nav-tabs-border-color:var(--lightBlue);
    --bs-nav-tabs-link-hover-border-color:var(--llBlue);
    --bs-nav-tabs-link-hover-color:var(--llBlue);
    --bs-nav-tabs-link-active-color:var(--ws);
    --bs-nav-tabs-link-active-border-color:var(--lightBlue);
    --bs-nav-tabs-link-active-bg:var(--lightBlue);
    color: var(--lightBlue);
    background-color:var(--darkBlue)
    
};


body {
    background-color: var(--darkBlue);
    color: var(--lightBlue)
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--llBlue);
    background-color: var(--darkBlue);
    border-color: var(--ws);
}

ul {
    background-color: var(--llBlue);
}

.nav-item {
    background-color: var(--llBlue);
}

.active {
    background-color: var(--darkBlue);
};

h1 {
    color: var(--lightBlue);
    padding: 20px;
}

h4{
    padding: 40px;
}
p {
color: var(--lightBlue);
padding: 10px;
}

img {
    width: 300px;
    height:500px;
    padding-left: 0;
    margin-left: 0;
}